.editable-product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20%;
  }

  input {
      width: 300px;
      font-size: 25px;
  }

  .input-div {
      padding-bottom: 5%;
  }
.actions {
    padding-top: 7px;
}